<configuration>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">

<file>C:\DATA\Archive\LashGo\projects\LashGo\logs\test.log</file>
        <!--
<file>/var/log/lashgo/lashgo.log</file>
                                                   -->
<append>true</append>

<!-- encoders are assigned the type
ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>
</configuration>